/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/Sg34A2azZoYy.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/AnggM3NsLIDo.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/YgJqnlTkbTtj.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/omgmRzSUDXz3.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/Ga3ble1e1aLR.otf') format('truetype');
}